@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "AjouterEtudiant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="pagetitle">
        <br />
        Enregistrez un nouvel étudiant :
    </div><br />
    <div class="retour">

        <a>@Html.ActionLink("Retour a l'accueil", "Index", "Default")</a>

    </div>
</center>
    <br />
    <link href="~/Content/presentation.css" rel="stylesheet" type="text/css" />

    
    @using (@Html.BeginForm("Insert", "Default", FormMethod.Post))
    {
        <center>
            <table>
                <tr>
                    <td>@Html.Label("Nom de l'etudiant")</td>
                    <td>:</td>
                    <td>@Html.TextBox("TxtName")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Date de naissance")</td>
                    <td>:</td>
                    <td>@Html.TextBox("DateDeNaissance")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Taille (cm)")</td>
                    <td>:</td>
                    <td>@Html.TextBox("Taille")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Poids (kg)")</td>
                    <td>:</td>
                    <td>@Html.TextBox("Poids")</td>
                </tr>

            </table>


            <table><tr><td><label for="idselect">Choissiez un niveau d'étude :</label></td></tr></table>


            <select name="StandardID" id="idselect">
                <option value="0" selected="selected">(Choisissez)</option>
                <option value="1">Première</option>
                <option value="2">Seconde</option>
                <option value="3">Terminale</option>

            </select>
            <br />
        </center>

        <center>
           
                <table>
                    <tr>
                        <td>@Html.Label("")</td>
                        <td></td>
                        <td><br /><input class="boutons" type="submit" value="Valider" /></td>

                        <td>@Html.Label("")</td>
                        <td></td>
                        <td><br /><input class="boutons" type="reset" value="Rénitialiser" /></td>
                    </tr>
                </table>
            
        </center>

    }  
