@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "AjouterStandard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="pagetitle">
        <br />
        Enregistrez un nouveau niveau scolaire :
    </div><br />
    <div class="retour">
        @Html.ActionLink("Retour a l'accueil", "Index", "Default")
    </div>
</center>

<br />
<link href="~/Content/presentation.css" rel="stylesheet" type="text/css" />

@using (@Html.BeginForm("InsertStandard", "Default", FormMethod.Post))
{

    <center>
        <table>


            <tr>
                <td>@Html.Label("Nom du niveau")</td>
                <td>:</td>
                <td>@Html.TextBox("Niveau")</td>
            </tr>

        </table>
    </center>

    <center>

        <table>
            <tr>
                <td>@Html.Label("")</td>
                <td></td>
                <td><br /><input class="boutons" type="submit" value="Valider" /></td>

                <td>@Html.Label("")</td>
                <td></td>
                <td><br /><input class="boutons" type="reset" value="Rénitialiser" /></td>
            </tr>
        </table>

    </center>


}