@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "SupprimerEtudiant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="pagetitle">
        <br />
        Supprimez un étudiant :
    </div><br />
    <div class="retour">
        @Html.ActionLink("Retour a l'accueil", "Index", "Default")
    </div>
</center>
<br />

@using (@Html.BeginForm("DeleteEtudiant", "Default", FormMethod.Post))
{
    <center>
    <table>


        <tr>
            <td>@Html.Label("Numero de l'etudiant a supprimer")</td>
            <td>:</td>
            <td>@Html.TextBox("EtudiantID")</td>
        </tr>

    </table>
    </center>


    <center>

        <table>
            <tr>
                <td>@Html.Label("")</td>
                <td></td>
                <td><br /><input class="boutons" type="submit" value="Valider" /></td>

                <td>@Html.Label("")</td>
                <td></td>
                <td><br /><input class="boutons" type="reset" value="Rénitialiser" /></td>
            </tr>
        </table>

    </center>
}
