@inherits System.Web.Mvc.WebViewPage


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Views/Default/Index.cshtml")" rel="stylesheet" type="Site.css" />
    <link href="~/Content/presentation.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div class="header">
            <div class="title">
               School Application
            </div>

        </div>

            <div class="menucontainer">
                <center>
                    <ul class="menu">
                        <li>@Html.ActionLink("Ajouter un niveau", "AjouterStandard", "Default")</li>
                        <li>@Html.ActionLink("Supprimer tout les etudiants", "Supprimer", "Default")</li>
                        <li>@Html.ActionLink("Modifier", "Index", "Default")</li>
                        <li>@Html.ActionLink("Ajouter un etudiant", "AjouterEtudiant", "Default")</li>
                        <li>@Html.ActionLink("Supprimer un etudiant", "SupprimerEtudiant", "Default")</li>
                        <li>@Html.ActionLink("Afficher la liste des etudiants", "ListEtudiant", "Default")</li>
                    </ul>
                </center>
            </div>
        
        <div class="main">
            
            @RenderBody() 
           
            <div class="footer">
                <p class="txtfooter">&copy; @DateTime.Now.Year - Redha Aissaoui</p>
            </div>
        </div>
            
        
        
    </div>
   
</body>
</html>